<div class="footer-container">
  <div class="wrapper">
    <div class="footer">
      <div class="footer-copyright">
        Made by Autotest Creative <i class="far fa-copyright"></i> 2019
      </div>
    </div>
  </div>
</div>
