<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkbhdqszt/image/upload/v1559004349/bgdoctors_l9dlt7.jpg)">
  <div class="container">
    <h1>Find a doctor and order</h1>
    <p>Search among 49,000 doctors</p>
    <div class="row">
      <div class="col-12 align-self-center">
        <form action="">
          <div class="row mb-3">
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col-12 col-md-6 mb-3">
                  <input class="form-control form-control-lg" type="text" placeholder="especialist">
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <input class="form-control form-control-lg" type="text" placeholder="region">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <button type="button" class="btn btn-primary btn-lg btn-block search-button"> Search </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-3">
    <div class="col-sm-3 offset-xs-bottom-2">
      <h6>Find a doctor</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit assumenda veritatis sunt quidem, quis minima est incidunt!</p>
    </div>
    <div class="col-sm-3 offset-xs-bottom-2">
      <h6>Order a visit easily</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit assumenda veritatis sunt quidem, quis minima est incidunt!</p>
    </div>
    <div class="col-sm-3 offset-xs-bottom-2">
      <h6>Reminder about the visit</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit assumenda veritatis sunt quidem, quis minima est incidunt!</p>
    </div>
    <div class="col-sm-3 offset-xs-bottom-2">
      <h6>The service is free of charge</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit assumenda veritatis sunt quidem, quis minima est incidunt!</p>
    </div>
  </div>
</div>
