.simple-calendar {

  .calendar-title {
    margin-bottom: 8px;
    font-weight: bolder;
  }

  .card-h {
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255,255,255,0.3)
  }

  .calendar-heading {
    display: flex;
    justify-content: space-between;
  }

  .day {
    padding: 4px;
    height: 120px;
    border: 2px solid white;
  }

  .wday-0 {
    width: 14%;
    height:600px;

  }
  .wday-1 {
    width: 14%;
    height:600px;

  }
  .wday-2 {
    width: 14%;
    height:600px;
  }
  .wday-3 {
    width: 14%;
    height:600px;
  }
  .wday-4 {
    width: 14%;
    height:600px;
  }
  .wday-5 {
    width: 14%;
    height:600px;
  }
  .wday-6 {
    width: 14%;
    height:600px;
  }

  .today {
    background-color: rgba(0,195,165,0.3);
  }

  .past {
    // background-color: #f4f4f4;
    background-color: rgba(0,0,0,0.03);
    color: rgb(155,155,155);
  }
  .future {
    // background-color: rgb(250,250,250);
    background-color: rgb(245,245,245);
    color: rgb(50,50,50);
  }

  .start-date {}

  .prev-month {margin-right: 16px;}
  .next-month { }
  .current-month {}

  .has-events {}
}
