.simple-calendar {

  .calendar-title {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .day {
    padding: 4px;
    height: 120px;
    border: 1px solid white;
  }

  .wday-0 {
    width: 14%;
  }
  .wday-1 {
    width: 14%;
  }
  .wday-2 {
    width: 14%;
  }
  .wday-3 {
    width: 14%;
  }
  .wday-4 {
    width: 14%;
  }
  .wday-5 {
    width: 14%;
  }
  .wday-6 {
    width: 14%;
  }

  .today {
    background-color: #00C3A5;
    color: white;
  }

  .past {
    background-color: grey;
  }
  .future {}

  .start-date {}

  .prev-month {margin-right: 16px;}
  .next-month { }
  .current-month {}

  .has-events {}
}
