.simple-calendar {

  .calendar-title {
    margin-bottom: 8px;
    font-weight: bolder;
  }

  .card-h {
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255,255,255,0.3)
  }

  .calendar-heading {
    display: flex;
    justify-content: space-between;
  }

  .day {
    padding: 4px;
    height: 120px;
    border: 1px solid white;
  }

  .wday-0 {
    width: 14%;
    height:600px;

  }
  .wday-1 {
    width: 14%;
    height:600px;

  }
  .wday-2 {
    width: 14%;
    height:600px;
  }
  .wday-3 {
    width: 14%;
    height:600px;
  }
  .wday-4 {
    width: 14%;
    height:600px;
  }
  .wday-5 {
    width: 14%;
    height:600px;
  }
  .wday-6 {
    width: 14%;
    height:600px;
  }

  .today {
    background-color: #00C3A5;
    color: white;
  }

  .past {
    // background-color: #f4f4f4;
    background-color: #5b8e78;
    color: #ccc;
  }
  .future {
    background-color: #5b8e78;
    color: #ccc;
  }

  .start-date {}

  .prev-month {margin-right: 16px;}
  .next-month { }
  .current-month {}

  .has-events {}
}
