<div class="container">
  <div class="wrapper">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>Appointments List:</h1>
        <% @appointments.each do |appointment| %>
          <h3><%= appointment.doctor.full_name %> </h3>
          <li><%= appointment.date.strftime("%b %e, %l:%M %p") %></li>
          <li><%= appointment.doctor.address %></li>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
